:root{
    --color-white: hsl(0, 0%, 100%);
    --color-green: hsl(75, 94%, 57%);
    --color-gray-700: hsl(0, 0%, 20%);
    --color-gray-800: hsl(0, 0%, 12%);
    --color-gray-900: hsl(0, 0%, 8%);
    --color-attrBlue: hsl(228, 45%, 44%);
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    background-color: var(--color-gray-900);
    min-height: 100vh;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 90%;
    max-width: 15rem;
    text-wrap: wrap;
    overflow-wrap: break-word;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--color-gray-800);
    padding: 2rem;
    border-radius: 8px;
    gap: .75rem;
}

img{
    border-radius: 50%;
    width: 4.5rem;
    margin-bottom: .5rem;
}

p, h2{
    color: var(--color-white);
}

p{
    font-size: .875rem;
}

.name-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.fullName{
    font-weight: 600;
    margin: unset;
    font-size: 1.2rem;
}

.location{
    color: var(--color-green);
    font-weight: 600;
    margin: unset;
    font-size: .7rem;
}

.quote{
    font-weight: 400;
    font-size: .7rem;
    margin-bottom: .6rem;
}

.links-container{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--color-white);
    width: 90%;
    align-items: center;
}

.social-link{
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: var(--color-gray-700);
    padding: .7rem;
    width: 100%;
    min-height: fit-content;
    border-radius: 8px;
    color: var(--color-white);
    text-decoration: none;
    font-size: .7rem;
}

.social-link:hover{
    background-color: var(--color-green);
    color: var(--color-gray-900);
}

.attribution {
    color: var(--color-white);
    font-size: 0.6875rem; 
    text-align: center;
}
.attribution a {
    color: var(--color-attrBlue);
}