:root{
    --color-white: hsl(0, 0%, 100%);
    --color-green: hsl(75, 94%, 57%);
    --color-gray-700: hsl(0, 0%, 20%);
    --color-gray-800: hsl(0, 0%, 12%);
    --color-gray-900: hsl(0, 0%, 8%);
    --color-attrBlue: hsl(228, 45%, 44%);
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--color-gray-900);
    min-height: 100vh;
    padding: clamp(1rem, 5vw, 2.5rem);
    box-sizing: border-box;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 90%;
    max-width: 16rem;
    text-wrap: wrap;
    overflow-wrap: break-word;
    margin-block: auto;
    background-color: var(--color-gray-800);
    padding: clamp(1.5rem, 4vw, 2.5rem); 
    border-radius: 12px;
    gap: .75rem;
}

img{
    border-radius: 50%;
    width: 5.5rem;
    margin-block-end: clamp(0.5rem, 1.5vw, 1rem); 
}

p, h1{
    color: var(--color-white);
}

p{
    font-size: clamp(0.75rem, 2vw, 0.875rem);
}

.name-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.fullName{
    font-weight: 700;
    margin: unset;
    font-size: clamp(1.25rem, 4vw, 1.5rem);
}

.location{
    color: var(--color-green);
    font-weight: 600;
    margin: unset;
    font-size: clamp(0.75rem, 2vw, 0.875rem);
}

.quote{
    font-weight: 400;
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    margin-block-end: clamp(0.6rem, 2vw, 1.2rem); 
}

.links-container{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--color-white);
    width: 100%;
    align-items: center;
}

.social-link{
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: var(--color-gray-700);
    padding: clamp(0.7rem, 2vw, 1rem); 
    width: 100%;
    min-height: fit-content;
    border-radius: 8px;
    color: var(--color-white);
    text-decoration: none;
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    box-sizing: border-box;
}

.social-link:hover{
    background-color: var(--color-green);
    color: var(--color-gray-900);
}

.attribution {
    color: var(--color-white);
    font-size: clamp(0.6rem, 1.5vw, 0.6875rem); 
    text-align: center;
}
.attribution a {
    color: var(--color-attrBlue);
}